/* @import url('https://fonts.googleapis.com/css?family=Slabo+27px'); */

:root {
  --mainBlack: #000;
  --mainWhite: #fff;
  --mainFontSize: 14px;
  --mainTextShadow: 0 0 4px #000;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  /*font-family: "Mali", cursive;*/
  font-family: 'Slabo 27px', serif;
  font-size: var(--mainFontSize);
}

/*
img {
  width: 100%;
}
*/

.btn-blue {
  background: #2a73c5;
  color: #fff!important;
  text-shadow: var(--mainTextShadow);
  transition:  background-color .3s linear;
}

.btn-blue:hover {
  background: #4749e0;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.profile-avatar {
  border: 1px solid #666666;
  overflow: hidden;
  padding: 10px;
  height: 200px;
  border-radius: 10px;
}

.text-shadow {
  text-shadow: 0 0 3px #000;
}

/*
.App {
  background: url("./img/bg.jpg") no-repeat center/cover fixed;
  color: #fff!important;
  text-shadow: var(--mainTextShadow);
  min-height: 100vh;
}
*/
